.idea/libraries/classes3.xml
.idea/libraries/gradle_wrapper.xml
.idea/libraries/gradle_wrapper1.xml
.idea/libraries/internal_impl_23_1_1.xml
.idea/libraries/internal_impl_23_1_11.xml
.idea/libraries/libs.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/libraries/annotations.xml
.idea/libraries/annotations1.xml
.idea/libraries/classes.xml
.idea/libraries/classes1.xml
.idea/libraries/classes2.xml
.idea/workspace.xml
